button {
    width: 100%;
    border-radius: 10px;
    border-color: none;
}

table {
    margin: auto;
}

#hidden-pictures {
    display: none;
}

.mode-on {
    background-color: green;
}

.next-move {
    background-color: blue;
}

.swap-cache {
    border-color: gold;
    border-width: 2px;
}

