button {
    width: 100%;
    border-radius: 10px;
    border-color: none;
}

table {
    margin: auto;
}

#hidden-pictures {
    display: none;
}

.mode-on {
    background-color: green;
}

.next-move {
    background-color: blue;
}

.swap-cache {
    border-color: gold;
    border-width: 2px;
}

.arrows {
    display: grid;
    width: 100%;
    grid-template-areas:
      ". u ."
      "l d r";
}

.arrows > .up {
    grid-area: u;
}

.arrows > .left {
    grid-area: l;
}

.arrows > .down {
    grid-area: d;
}

.arrows > .right {
    grid-area: r;
}

#main {
    margin: auto;
}